@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FunctionsListModel
@{ 
}
<p>lista funkcji</p>
@if (User.Identity.IsAuthenticated)
{
    @if (@Model.Access.Recruter)
    {
        <p>Recruter</p>
    }
    @if (@Model.Access.Scheduler)
    {
        <p>Scheduler</p>
    }
    @if (@Model.Access.LeaveEditor)
    {
        <p>LeaveEditor</p>
    }
    @if (@Model.Access.UserViewer)
    {
        <p>UserViewer</p>
    }
    @if (@Model.Access.FacilityEditor)
    {
        <p>FacilityEditor</p>
    }
    @if (@Model.Access.Announcer)
    {
        <p>Announcer</p>
    }
    @if (@Model.Access.PersonalViewer)
    {
        <p>PersonalViewer</p>
    }
    @if (@Model.Access.PersonalViewer)
    {
        <p>PersonalViewer</p>
    }
    @if (@Model.Access.PartnerViewer)
    {
        <p>PartnerViewer</p>
    }
}