@model Organizer3.Models.MyShop.MyShopProfileModel

<div class="row">
    <h4 class=col-md-10>Nadchodzacy grafik</h4>

    <div class=" col-md-2 float-end">
        @if(@Model.MyShopShiftInfo.Any()){
        <button type="button" class="btn btn-primary float-end">            
                <a class="text-decoration-none text-white" asp-controller="Schedule" asp-action="GenerateSchedule">
                    Nowy
                </a>
        </button>
        }
    </div>   
</div>
<hr/>

@foreach(var shiftDates in @Model.MyShopSchedule.OrderBy(o=>o.ShiftDate).Select(o => o.ShiftDate).Distinct())
{

            foreach(var shitfType in @Model.MyShopShiftInfo)
            {
            <div class="row">
                <div class="col-md-3">
                    @shiftDates
                </div>
                <div class="col-md-2">
                    @shitfType.ShiftName
                </div>
                <div class="col-md-2">
                    Godziny
                    @shitfType.StartingTime.ToString("H:mm") -
                    @shitfType.StartingTime.AddHours(@shitfType.Duration).ToString(("H:mm"))
                </div>
                <div class="col-md-5">
                    
                    @foreach(var selectedShift in @Model.MyShopSchedule.Where(o=>o.ShiftDate==shiftDates && o.ShiftId == shitfType.Id))
                    {
                        <div class="row mt-1">
                            <div class="col-md-8">
                                @Model.MyShopEmployeeModel.First(o=>o.UserId == selectedShift.UserId).Name
                            </div>
                            
                            <div class="col-md-4">
                                       
                                <a class="btn btn-secondary text-decoration-none text-white" asp-controller="Schedule" asp-action="RemoveWorkerFromShift" asp-route-id="@selectedShift.Id">
                                    Usuń
                                </a>
                            
                            </div>
                            
                        </div>
                    }       
                    <hr />
                </div>

            </div>
            }
            <hr />
}
    


