@model IEnumerable<Organizer3.Areas.Identity.Data.AnnouncerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h4 class=col-md-4>Ogłoszenia</h4>
    <!-- a  class=" col-md-3 float-lg-end" asp-action="Create">
        <button role="button" class="btn-lg button-primary"></button>
    <a-->
<div class="col-md-6 float-end"></div>
    <button class="col-md-1 btn btn-primary">
        <a class="text-decoration-none text-white" asp-controller="Announcements" asp-action="Create">
            Nowe
        </a>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Data Utworzenia
            </th>
            <th>
                Autor
            </th>          
            <th>
                Edytowane
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.EditedBy)
            </td>
            <td>
                <a type="button" class="  btn btn-sm btn-secondary text-white" asp-controller="Announcements" asp-action="Details" asp-route-id="@item.Id">Więcej</a>
            </td>
        </tr>
}
    </tbody>
</table>
