@model Organizer3.Areas.Identity.Data.Recruitment
@using Organizer3.Models.Enums
@{
    ViewData["Title"] = "DisplayFistStage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Podanie o Pracę: @(Model.LastName+" "+Model.FirstName)</h4>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-dane-tab" data-bs-toggle="tab" data-bs-target="#nav-dane" type="button" role="tab" aria-controls="nav-dane" aria-selected="true">Dane</button>
    <button class="nav-link" id="nav-CV-tab" data-bs-toggle="tab" data-bs-target="#nav-CV" type="button" role="tab" aria-controls="nav-CV" aria-selected="false">CV</button>
</div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!------------------------------------>
    <div class="tab-pane fade show active" id="nav-dane" role="tabpanel" aria-labelledby="nav-dane-tab">
        <div class="mt-4">    
            <dl class="row">
                @if (@Model.Status == RecruterEnum.RecruterEnumData.Archived.ToString() || @Model.Status == RecruterEnum.RecruterEnumData.Rejected.ToString())
                {
                    <dt class = "col-sm-2">
                        Status
                    </dt>
                }
                @if(@Model.Status == RecruterEnum.RecruterEnumData.Archived.ToString())
                {
                
                <dd class = "col-sm-10">
                    Podanie zaakceptowane
                </dd>
                }
                @if(@Model.Status == RecruterEnum.RecruterEnumData.Rejected.ToString())
                {
                
                <dd class = "col-sm-10">
                    Podanie odrzucone
                </dd>
                }
                <dt class = "col-sm-2">
                    Email
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class = "col-sm-2">
                    Telefon
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class = "col-sm-2">
                    Stanowisko
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Position)
                </dd>
                <dt class = "col-sm-2">
                    Aplikowano
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.AppliedAt)
                </dd>
                <!--if(Model.Notes != String.Empty){
                   <div>
                        <p class="card-text">Model.Notes</p>
                    </div>
                    }
               -->
            </dl>           
            <p></p>
            <div>
                @if (!(@Model.Status == RecruterEnum.RecruterEnumData.Archived.ToString() || @Model.Status == RecruterEnum.RecruterEnumData.Rejected.ToString()))
                {
                    <button type="button" class="btn btn-warning ">        
                        <a class="text-decoration-none text-white" asp-controller="Recruiter" asp-action="Reject" asp-route-Id="@Model.id">
                            Odrzuć
                        </a>
                    </button>
                }
                @if (@Model.Status == RecruterEnum.RecruterEnumData.InRecruitment.ToString())
                {
                    <button type="button" class="btn btn-success ">        
                        <a class="text-decoration-none text-white" asp-controller="Recruiter" asp-action="AddToAccepted" asp-route-Id="@Model.id">
                            Zaakceptuj
                        </a>
                    </button>
                }
                @if(@Model.Status == RecruterEnum.RecruterEnumData.Accepted.ToString())
                {
                    <button type="button" class="btn btn-secondary ">        
                        <a class="text-decoration-none text-white" asp-controller="Recruiter" asp-action="AddToArchived" asp-route-Id="@Model.id">
                            Zarchiwizuj
                        </a>
                    </button>
                }
                @if (!(@Model.Status == RecruterEnum.RecruterEnumData.Archived.ToString() || @Model.Status == RecruterEnum.RecruterEnumData.Rejected.ToString()))
                {
                    <button type="button" class="btn btn-secondary ">        
                        <a class="text-decoration-none text-white" asp-controller="Recruiter" asp-action="AddNote" asp-route-Id="@Model.id">
                            Dodaj notatkę
                        </a>
                    </button>
                }
                <button type="button" class="btn btn-secondary ">        
                    <a class="text-decoration-none text-white" asp-controller="Recruiter" asp-action="RecruiterIndex">
                        Wstecz
                    </a>
                </button>
                @if (@Model.Status == RecruterEnum.RecruterEnumData.Archived.ToString() || @Model.Status == RecruterEnum.RecruterEnumData.Rejected.ToString())
                {
                    <button type="button" class="btn btn-danger ">        
                        <a class="text-decoration-none text-white" asp-controller="Recruiter" asp-action="DeleteRecritmentFromArchiveConfirmation" asp-route-Id="@Model.id" asp-route-c_name="@(@Model.LastName+" "+@Model.FirstName)">
                            Usuń z Archiwum
                        </a>
                    </button>
                }
            </div>
            <div>
                <p></p>
                @if(@Model.Recruit_Notes.Any()){
                @foreach(var nt in @Model.Recruit_Notes)
                {
                    <div style="background-color:white;border-radius:15px;">
                        <h5>@(@nt.NoteAuthor+" "+nt.CreatedDate)</h5>
                        <p>@nt.NoteContent</p>
                    </div>
                }
                }
            </div>
        </div>
    </div>
    <!------------------------------------>
    <div class="tab-pane fade" id="nav-CV" role="tabpanel" aria-labelledby="nav-CV-tab">

        <!--div>
            <iframe src="~/uploads/podanie.pdf" width="100%" height="1000um" />
        </div-->
        <div>
            <iframe  src="@Url.Action("CV_pdf",new{ path = @Model.ResumeLocation})" name="aaa" width="100%" height="1000um" />
            <!--iframe src="~/uploads/podanie.pdf" width="100%" height="500px" /-->
        </div>
        <iframe src="@ViewBag.tmp" type='application/pdf'></iframe>

    </div>
    <!------------------------------------>
    
</div>
