@model EmploymentStatusModel

@{
    ViewData["Title"] = "EmploymentStatusEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.name</h1>

<h4>Status zatrudnienia</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="EmploymentStatusEditor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.IsEmployed)
                    {
                        <input class="form-check-input" asp-for="IsEmployed" value="@Model.IsEmployed" />
                    }else{<input class="form-check-input" asp-for="IsEmployed"/>}
                    Jest Obecnie Zatrudniony 
                </label>
            </div>
            <div class="form-group">
                <label value="Stanowisko" class="control-label"></label>
                <input asp-for="Ocupation" class="form-control" />
                <span asp-validation-for="Ocupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label value="Zatrudniony od" class="control-label"></label>
                <input asp-for="EmployedSince" class="form-control" />
                <span asp-validation-for="EmployedSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label value="Rodzaj umowy" class="control-label"></label>
                <input asp-for="ContractType" class="form-control"/>
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label value="Data wygaśnięcia umowy" class="control-label"></label>              
                <input asp-for="ContractExpiration" class="form-control"/>
                <span asp-validation-for="ContractExpiration" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input type="hidden" asp-for="SupervisorId" class="form-control" value="@Model.SupervisorId"/>
                <span asp-validation-for="SupervisorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label value="Dodatkowe informacje" class="control-label"></label>
                @Html.TextAreaFor(m => m.otherInfo, new { @class = "form-control", @style="min-height:10em;"})
                <span asp-validation-for="otherInfo" class="text-danger"></span>
            </div>
            <div class="form-group btn-group float-end mt-1">
                <input type="submit" value="Zapisz Zmiany" class="btn btn-primary" />
                <a type="button" class="btn btn-secondary float-end" asp-controller="EmployeeProfile" asp-action="EmployeeProfileIndex" asp-route-employeeId="@Model.UserId">Wstecz</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
