@using Organizer3.Areas.Identity.Data
@model ICollection<UserViewerModel>

<div class="row">
    <h4 class=col-md-10>Pracownicy</h4>

    <div class=" col-md-2 float-end">
    <button type="button" class="btn btn-secondary ">            
            <a class="text-decoration-none text-white" asp-controller="UserViewer" asp-action="LegacyUserViewerIndex">
                Archiwum
            </a>
    </button>

    <button type="button" class="btn btn-primary float-end">            
            <a class="text-decoration-none text-white" asp-controller="UserViewer" asp-action="CreateNewUser">
                Nowy
            </a>
    </button>
    </div>   
</div>
<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwisko
            </th>
            <th>
                Imię
            </th>
            <th>
                Stanowisko
            </th>
            <th>
                Placówka
            </th>          
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocupation)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FacilityName)
            </td>
            <td>
                <div class="button-grp float-end">                
                    <a type="button" class="  btn btn-sm btn-secondary text-white" asp-controller="EmployeeProfile" asp-action="EmployeeProfileIndex" asp-route-employeeId="@item.UserId">
                        Więcej
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>

</table>