@using Organizer3.Controllers

@model UserAccessDataEditModel

@{
    ViewData["Title"] = "UserAccessDataEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.UserName</h1>

<h4>Uprawnienia dostępu do funkcji aplikacji.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="UserAccessDataEditorApply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <input type="hidden" asp-for="UserId" class="form-control" value="@Model.UserId"/>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.Recruter)
                    {
                    <input class="form-check-input" asp-for="Recruter" value="@Model.Recruter" />
                    }else{<input class="form-check-input" asp-for="Recruter" />}
                    Rekrutacja
                     <!--Html.DisplayNameFor(model => model.Recruter)-->
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.UserEditor)
                    {
                    <input class="form-check-input" asp-for="UserEditor" value="@Model.UserEditor"/>
                    }else{<input class="form-check-input" asp-for="UserEditor" />}
                     <!--Html.DisplayNameFor(model => model.UserEditor)--> Edycja Użytkowników
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.UserViewer)
                    {
                    <input class="form-check-input" asp-for="UserViewer" value="@Model.UserViewer"/>
                    }else{<input class="form-check-input" asp-for="UserViewer" />}
                     <!--Html.DisplayNameFor(model => model.UserViewer)--> Pracownicy
                </label>
            </div>
            
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.Announcer)
                    {
                    <input class="form-check-input" asp-for="Announcer" value="@Model.Announcer"/>
                    }else{<input class="form-check-input" asp-for="Announcer" />}
                     <!--Html.DisplayNameFor(model => model.Announcer)-->Ogłoszenia
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.PersonalViewer)
                    {
                    <input class="form-check-input" asp-for="PersonalViewer" value="@Model.PersonalViewer"/>
                    }else{<input class="form-check-input" asp-for="PersonalViewer" />}
                     <!--Html.DisplayNameFor(model => model.PersonalViewer)--> Mój Sklep
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.FacilityEditor)
                    {
                    <input  class="form-check-input" asp-for="FacilityEditor" value="@Model.FacilityEditor"/>
                    }else{<input class="form-check-input" asp-for="FacilityEditor" />}
                    Sklepy
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.PartnerViewer)
                    {
                        <input  type="hidden"  class="form-check-input" asp-for="PartnerViewer" value="@Model.PartnerViewer"/>
                    }else{<input class="form-check-input" asp-for="PartnerViewer" />}
                </label>
                </div>
                <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.FacilityViewer)
                    {
                    <input type="hidden" class="form-check-input" asp-for="FacilityViewer" value="@Model.FacilityViewer"/>
                    }else{<input class="form-check-input" asp-for="FacilityViewer" />}

                </label>
            </div>

            <div class="form-group btn-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
                <a type="button" class="btn btn-secondary text-decoration-none" asp-controller="EmployeeProfile" asp-action="EmployeeProfileIndex" asp-route-employeeId="@Model.UserId">Wstecz</a>
            </div>
                        <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.Scheduler)
                    {
                    <input type="hidden" class="form-check-input" asp-for="Scheduler" value="@Model.Scheduler"/>
                    }else{<input class="form-check-input" asp-for="Scheduler" />}

                     <!--Html.DisplayNameFor(model => model.Scheduler)-->
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @if (@Model.LeaveEditor)
                    {
                    <input type="hidden" class="form-check-input" asp-for="LeaveEditor" value="@Model.LeaveEditor"/>
                    }else{<input class="form-check-input" asp-for="LeaveEditor" />}
                </label>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
