@using Organizer3.Areas.Identity.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ICollection<UserViewerModel>
<div class="row">
    <h1 class=col-md-4>Pracownicy</h1>

    <div class="col-md-4 float-end"></div>
    <div class="col-md-4 btn-group" role="group" aria-label="Basic example">
        <a type="button" class="float-end btn-lg btn btn-secondary" asp-controller="UserViewer" asp-action="LegacyUserViewerIndex">
            Byli Pracownicy
        </a>
        <a type="button" class="float-end btn-lg btn btn-primary" asp-controller="UserViewer" asp-action="CreateNewUser">
            Nowy
        </a>
    </div>
</div>
<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwisko
            </th>
            <th>
                Imię
            </th>
            <th>
                Stanowisko
            </th>
            <th>
                Placówka
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocupation)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FacilityName)
            </td>
            <td>
                <div class="button-grp float-end">
                <a type="button" class="  btn btn-sm btn-light text-dark" asp-controller="UserViewer" asp-action="UserAccessDataEditor" asp-route-id="@item.UserId">
                    Uprawnienia
                </a>
                <a type="button" class="  btn btn-sm btn-light text-dark" asp-controller="UserViewer" asp-action="UserDataEditor" asp-route-id="@item.UserId">
                    Dane
                </a>
                <a type="button" class="  btn btn-sm btn-light text-dark" asp-controller="UserViewer" asp-action="EmploymentStatusEditor" asp-route-id="@item.UserId">
                    Status zatrudnienia
                </a>
                <a type="button" class="  btn btn-sm btn-light text-dark" asp-controller="UserViewer" asp-action="EditUserPhoto" asp-route-id="@item.UserId">
                    Zdjęcie
                </a>
                </div>
            </td>
        </tr>
}
    </tbody>

</table>